@charset "UTF-8";

/* id = #
   class = .
*/

body {
    background-color: rgb(113, 198, 136);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: rgb(29, 68, 28);
}

#principal {
    background-color: rgba(27, 172, 27, 0.648);
    color: white;
    text-align: center;
} /*seletor personalizado*/

h2{
    color: rgb(41, 96, 39);
}

.basico{
    color: antiquewhite;
}

.intermediario {
    color: yellow;
}

.avancado {
    color: red;
}

.destaque {
    background-color: azure;
}